body {
  background-image: url('https://static.pexels.com/photos/6546/sky-night-space-trees.jpeg');

  height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}

#ngweather {
  width: 1000px;
  height: 500px;
  border: none;

}

.aboutme {
  width: 350px;
  height: 550px;
  border-radius: 3%;
  border: none;
  position: relative;
}

h2 {
   position: absolute;
   top: 200px;
   left: 0;
   width: 100%;
}

h2 span {
   color: white;
   font: bold 24px/45px Helvetica, Sans-Serif;
   background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
   border-radius: 4%;
}

#navbar {
  background-color: #121F27;
  background-image: linear-gradient(to right, #121F27 0%, #21384B 100%);
  background-blend-mode: saturation;
  border-radius: 4%;
}
