<div class="container">
  <div class="row">
        <div class="col-md-4">
          <a class="btn" href="#/resume" >
            <img src="http://placehold.it/350x550?text=Resume" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a class="btn" href="#/video-photography" >
            <img src="http://placehold.it/350x550?text=CameraStuff" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a class="btn" href="#/webProjects" >
            <img src="http://placehold.it/350x550?text=WebProjects" alt="">
          </a>
        </div>
  </div>
</div>
