<div class="container">
  <div class="row">
        <div class="col-md-4">
          <a class="btn text-center" href="https://docs.google.com/document/d/10AOYNtrdwYpv0DJpuRQRBy51W5K3UDP-EqbrN0w4db8/edit?usp=sharing" target="Resume">
            <img src="../images/hernandez_Developer_Resume_16-page-001.jpg" class="aboutme" alt="">
            <h2><span>Resume</span></h2>
          </a>
        </div>
        <div class="col-md-4">
          <a class="btn" href="#/video-photography" >
            <img src="http://i.imgur.com/7IleNkm.gif" class="aboutme" alt="">
            <h2><span>Video/Photo</span></h2>
          </a>
        </div>
        <div class="col-md-4">
          <a class="btn" href="#/webProjects" >
            <img src="http://placehold.it/350x550?text=WebProjects" class="aboutme" alt="">
            <h2><span>Web Projects</span></h2>
          </a>
        </div>
  </div>
</div>
