<div class="row">
  <div class="container text-center">
    <h1>
      Fill out the contact form below and I'll get back to you as soon as possible
    </h1>
    <div class="form-group">
        <div class="row">
          <div>
            <input type="text" class="form-control" placeholder="Name">
          </div>
        </div>
        <div class="row">
          <div>
            <input type="text" class="form-control" placeholder="Email">
          </div>
        </div>
        <div class="row">
          <div>
            <textarea class="form-control" placeholder="Message" rows="5"></textarea>
          </div>
        </div>
    </div>
  </div>
</div>
